<%= form_tag sessions_path do %>
<br/><br/><br/><br/>
<div class="container">
<div class="row">
<div class="col-sm-8 col-md-4 col-md-offset-4">
<div class="panel panel-default">
<div class="panel-body">
<div class="account-wall" >
	<div class="container col-sm-9 side pull-right ">	
 <%= image_tag("Logo Polos.png", :class => "img-square", :width => "140" , :height => "140" ) %>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<form class="form-signin">
	<div class=" input-group">
<%= text_field_tag :username, (params[:username] unless params[:username.blank?]), 
	:class=>"form-control",:size => 50, :placeholder=>"Username"%>
</div>
<div class=" input-group">
<%= password_field_tag :password, (params[:password] unless params[:password.blank?]), 
	:class=>"form-control", :size => 50, :placeholder=>"Password" %>
</div>
<br/>
<button class="btn btn-lg btn-primary btn-block" type="submit">
Sign in</button>
</form>
</div>
</div>
</div>
</div> 
</div>
</div>
</div>
<% end %>