<%= render 'sidebar'%>
<%= render 'navigation'%>
<br/><br/><br/><br/><br/><br/><br/>
<div id="main-content" class="col-xs-10 col-sm-6 col-md-8 main pull-right">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<h1>SELAMAT DATANG ADMIN</h1>
			</div>
		</div>
	</form>