<!DOCTYPE html>
<html>
<head>

<style>
html,body{margin:0;padding:0;height:100%;font:13px Arial;}
#wrapper{min-height:100%;position:relative;}
#header{background:#f0f0f0;padding:5px;height:50px;color:#0000ff;}
#body{padding-bottom:40px;padding-left:10px;}
#footer{background:#f0f0f0;position:absolute;bottom:0;width:100%;
   }
</style>
</head>
<body>
<div id="wrapper">
     <div id="footer">
     	<p>Contact Info</p>
     	<p>Email <a href="http://www.duniailkom.com">wkwlpakuhaji@gmail.com</a></p>
     	<p>Telepon : 022-6628183</p>
      	<p>Alamat : Jl.Hj.Gofur Km.4 Desa Pakuhaji</p>
      	</div>
     
</div>
</body>
</html>